@font-face {
    font-family: 'Home Video';
    src: url('HomeVideo-Regular.otf') format('opentype'); /* Убедитесь, что путь к файлу правильный */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Более темный фон */
    color: #e0e0e0; /* Светлый текст */
}

header {
    background-color: #1c1c1c; /* Темный фон для шапки */
    padding: 15px 20px; /* Уменьшены отступы */
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fin {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #39a102; /* Зеленый цвет для заголовка */
}

h1 {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #00ff00; /* Зеленый цвет для заголовка */
    margin: 0;
    font-size: 30px; /* Увеличен размер заголовка для лучшей видимости */
    text-shadow:
        0 0 5px rgba(0, 255, 0, 0.5), /* Слабое зеленое свечение */
        0 0 10px rgba(0, 255, 0, 0.3); /* Более слабое свечение */
}

h2 {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #39a102; /* Зеленый цвет для заголовка */

}

h3 {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #39a102; /* Зеленый цвет для заголовка */
}

a {
    text-decoration: none; /* Убираем подчеркивание */
}

nav {
    margin-left: auto;
}

nav a {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    margin: 0 10px; /* Уменьшены отступы между пунктами меню */
    text-decoration: none;
    color: #39a102; /* Темно зеленый цвет для ссылок */
    font-size: 12px; /* Уменьшен размер шрифта */
}

nav a:hover {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #00ff00; /* Зеленый цвет при наведении */
    text-shadow:
        0 0 5px rgba(0, 255, 0, 0.5), /* Слабое зеленое свечение */
        0 0 10px rgba(0, 255, 0, 0.3); /* Более слабое свечение */
}

footer {
    background-color: #1c1c1c; /* Темный фон для подвала */
    text-align: center;
    padding: 10px;в
    position: relative;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

.code {
    color: #00ff00; /* Зеленый цвет для кода */
}

.comment {
    color: #cccccc; /* Серый цвет для комментариев */
}

.string {
    color: #ffcc00; /* Желтый цвет для строк */
}

.keyword {
    color: #ff007f; /* Розовый цвет для ключевых слов */
}

.main-title {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #39a102;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.section-title {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #ffcc00;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subsection-title {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    color: #6e6e6e;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 5px;
}

pre {
    background-color: #000000;
    border-left: 5px solid #2980b9;
    padding: 10px;
    overflow-x: auto;
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: 'Home Video', cursive; /* Используем подключенный шрифт */
    background-color: #4CAF50; /* Цвет кнопки */
    color: white; /* Цвет текста */
    padding: 16px; /* Отступы */
    font-size: 16px; /* Размер шрифта */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор при наведении */
}

.dropdown-content {
    display: none; /* Скрываем подменю по умолчанию */
    position: absolute; /* Позиционирование */
    background-color: #f9f9f9; /* Цвет фона */
    min-width: 160px; /* Минимальная ширина */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Тень */
    z-index: 1; /* Уровень наложения */
}

.dropdown-content a {
    color: black; /* Цвет текста */
    padding: 12px 16px; /* Отступы */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Блоковый элемент */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Цвет фона при наведении */
}

.dropdown:hover .dropdown-content {
    display: block; /* Показываем подменю при наведении на родительский элемент */
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41; /* Цвет кнопки при наведении */
}



